article.popup.popup-menu.menu#popup-menu.js-hidden
  .popup__container
    header.menu__header
      h1.menu__title Welcome!
      span.menu__description Here are some of my projects. What would you like to look at?
        //- svg(viewBox="0 0 20 20" width="20px").arrow
        //-     path(d="M0 0 L10 10 L0 20" fill="none" stroke="black" stroke-width="2")
      .menu__close-btn.close-btn
        span
        span

    section.projects

      .project.project_shulte-table.project
        a(href="shulte.html").project__main
          .project__title Shulte Table
          .tech-icons
            i.tech-icons__item.html-icon
            i.tech-icons__item.css-icon
            i.tech-icons__item.js-icon
            i.tech-icons__item.sass-icon
            i.tech-icons__item.pug-icon       
            i.tech-icons__item.gulp-icon

      .project.project_travel-landing
        a(href="https://grygoryev.github.io/travel_landing/build/index.html").project__main
          .project__title Adaptive landing #1
          .tech-icons
            i.tech-icons__item.html-icon
            i.tech-icons__item.css-icon
            i.tech-icons__item.js-icon
            i.tech-icons__item.sass-icon
            i.tech-icons__item.pug-icon       
            i.tech-icons__item.gulp-icon
        a(href="https://github.com/Grygoryev/travel_landing/tree/master").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon

      .project
        a(href="https://grygoryev.github.io/goodOne/build/index.html").project__main
          .project__title
            p Adaptive Landing #2
          .tech-icons
              i.tech-icons__item.html-icon
              i.tech-icons__item.css-icon
              i.tech-icons__item.sass-icon
              i.tech-icons__item.pug-icon 
              i.tech-icons__item.gulp-icon 
        a(href="https://github.com/Grygoryev/goodOne").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon

      .project
        a(href="https://grygoryev.github.io/reactmenu/build/").project__main
          .project__title Simple Menu (React) 
          .tech-icons
              i.tech-icons__item.html-icon
              i.tech-icons__item.sass-icon
              i.tech-icons__item.js-icon
              i.tech-icons__item.react-icon
              i.tech-icons__item.webpack-icon
        a(href="https://github.com/Grygoryev/reactmenu").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon
      
      .project
        a(href="https://grygoryev.github.io/todoapp/build/").project__main
          .project__title ToDo App (React)   
          .tech-icons
              i.tech-icons__item.html-icon
              i.tech-icons__item.js-icon
              i.tech-icons__item.react-icon            
              i.tech-icons__item.webpack-icon
        a(href="https://github.com/Grygoryev/todoapp").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon

      .project
        a(href="https://grygoryev.github.io/binary-perts/build/index.html").project__main
          .project__title
            p Adaptive landing #3
          .tech-icons
              i.tech-icons__item.html-icon
              i.tech-icons__item.css-icon
              i.tech-icons__item.sass-icon
              i.tech-icons__item.pug-icon     
              i.tech-icons__item.gulp-icon
        a(href="https://github.com/Grygoryev/binary-perts").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon

      //- a(href="waxom-landing.html").project
      //-   .tech-icons
      //-       i.tech-icons__item.html-icon
      //-       i.tech-icons__item.css-icon
      //-       i.tech-icons__item.sass-icon
      //-       i.tech-icons__item.pug-icon       
      //-       i.tech-icons__item.gulp-icon
      //-   .project__title Simple Landing page (not adaptive)

      .project
        a(href="https://grygoryev.github.io/funboxQT/dist").project__main
          .project__title Cats Cards
          .tech-icons
              i.tech-icons__item.html-icon
              i.tech-icons__item.css-icon
              i.tech-icons__item.js-icon
              i.tech-icons__item.sass-icon
              i.tech-icons__item.pug-icon       
              i.tech-icons__item.gulp-icon
        a(href="https://github.com/Grygoryev/funboxQT").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon

      .project
        a(href="https://grygoryev.github.io/bids-and-asks/build").project__main
          .project__title Bids and Asks Table(json upload)
          .tech-icons
              i.tech-icons__item.html-icon
              i.tech-icons__item.js-icon
              i.tech-icons__item.pug-icon       
              i.tech-icons__item.gulp-icon
        a(href="https://github.com/Grygoryev/bids-and-asks").project-source
          .project-source__title Source code
          .project-source__github-icon.github-icon

    
    p Current version of portfolio is not finished and needs to be refactored