@keyframes sheen {
  100% {
    transform: rotateZ(90deg) translate(1em, -9em);
  }
}

@keyframes showUp {
  0% { opacity: 0; transform: scale(15); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes hideShrink {
  100% { opacity: 0; transform: scaleY(.8) scaleX(.8) ; visibility: hidden; }
}

.showUp {
  animation: showUp .3s forwards;
}

.hideShrink {
  animation: hideShrink .4s forwards;
}