.close-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;

  span {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 35px;
    background-color: black;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.back-home-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(#4bcaf3, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 2px white;

  &:hover {
    box-shadow: 0 0 1px rgba(black, 0.1);
  }

  &::after,
  &::before {
    content: '';
    width: 2px;
    height: 17px;
    left: 21px;
    background-color: white;
    position: absolute;
  }

  &::after {
    top: 10px;
    transform: rotate(45deg);
  }

  &::before {
    top: 21px;
    transform: rotate(-45deg);
  }
}
