.html-icon {
    background-image: url("../img/icons/html-icon.svg");
}

.css-icon {
    background-image: url("../img/icons/css3.svg");
}

.react-icon {
    background-image: url("../img/icons/react-logo.svg");
    background-size: 100%;
}

.js-icon {
    background-image: url("../img/icons/js-icon.svg");
}

.sass-icon {
    background-image: url("../img/icons/sass-logo.svg");
}

.pug-icon {
    background-image: url("../img/icons/pug-logo.svg");
}

.github-icon {
    background-image: url("../img/icons/github-logo.svg");
}

.webpack-icon {
    background-image: url("../img/icons/webpack-icon.svg");
}

.gulp-icon {
    background-image: url("../img/icons/gulp-icon.svg");
    max-height: 35px;
}