doctype html

head
  include ../head/head

body

  block header

  block main

  block footer

  block scripts
    script(src="assets/libs/js/jquery-lib.js")
    script(src="js/waxom-landing.js")
    script(src="js/shulte.js")
    script(src="js/init.js")

