figure.product-card
  .product-card__container
    header.product-card__header
      .product-card__label Сказочное заморское яство
    .product-card__body
      h2.product-card__name Нямушка
      p.product-card__taste c фуа-гра
      p.product-card__quantity 10 порций
      p.product-card__bonus мышь в подарок
    footer.product-card__footer
      .product-card__weight 0,5
        .product-card__weight-measure кг
      //.product-card__signature Чего сидишь? Порадуй котэ, купи

figure.product-card
  .product-card__container
    header.product-card__header
      .product-card__label Сказочное заморское яство
    .product-card__body
      h2.product-card__name Нямушка
      p.product-card__taste c фуа-гра
      p.product-card__quantity 10 порций
      p.product-card__bonus мышь в подарок
    footer.product-card__footer
      .product-card__weight 2
        .product-card__weight-measure кг
      //.product-card__signature Чего сидишь? Порадуй котэ, купи

figure.product-card
  .product-card__container
    header.product-card__header
      .product-card__label Сказочное заморское яство
    .product-card__body
      h2.product-card__name Нямушка
      p.product-card__taste c фуа-гра
      p.product-card__quantity 10 порций
      p.product-card__bonus мышь в подарок
    footer.product-card__footer
      .product-card__weight 5
        .product-card__weight-measure кг
      //.product-card__signature Чего сидишь? Порадуй котэ, купи



