body {
  background: linear-gradient(180deg, #fcde38, #ffbc08) no-repeat;
  background-size: cover;
  background-color: #ffbc08;
  overflow-x: hidden;
}

.main-page {
  height: 100vh;
  position: relative;
}

.circles {
  @include flex(center, center, row wrap);

  margin: 0 auto;
  max-width: 590px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: inset -20px -20px 140px #4bcaf3, inset 0px 0px 20px #4bcaf3,
              0 0 2px 0 rgba($black, 0.8);
  border-radius: 50%;
  font-size: 16px;
  background-color: $white;
  color: $white;
  transition: transform .3s ease-in;
  overflow: hidden;
  cursor: pointer;

  @include flex(center, center);

  &::before {
    top: -50%;
    right: -30%;
    bottom: -50%;
    left: -78%;
    background: linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.8) 50%,rgba(229,172,142,0));
    transform: rotateZ(90deg) translate(-5em,9em);
    position: absolute;
    content: '';
    animation: sheen 3s 2s linear infinite forwards;
  }

  &:hover {
    box-shadow:
            inset -20px -20px 140px #4bcaf3,
            inset 0px 0px 20px #4bcaf3,
            0 0 2px rgba($black, 0.8),
            0 0 18px 3px rgba($white, 0.5);
    // transform: scale(1.025) translate(-50%, -50%);
    transition: transform .25s ease-in;
  }

  &:active {
    box-shadow:
            inset -20px -20px 160px #4bcaf3,
            inset 0px 0px 40px #4bcaf3,
            inset 0px 0px 10px 2px rgba($black, 0.4),
            0 0 2px 0 rgba($black, 0.8),
            0 0 7px 3px rgba(yellow, 0.2);
    // transform: scale(0.95);
    transition: transform 0.1s;
  }

  &__letter {
    @include font(25px, 1, 400, normal, $fontLeague);
    @include flex(center, center);

    width: 50px;
    text-align: center;
    transition: .3s ease-in;
  }
}

.js-hidden {
  visibility: hidden;
}