.popup {
  position: absolute;
  background-color: aliceblue;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 1000px;
    width: 100%;
    background: $white;
    padding: 25px 30px 50px;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}

.menu {
  &__header {
    @include font(19px, 1, 400, normal, $fontLeague);

    margin-bottom: 50px;
    position: relative;
  }

  &__close-btn {
    right: 0;
    top: 0;
  }

  &__title {
    margin-bottom: 10px;
    font: inherit;
    font-size: 35px;
  }
}

.projects {
  width: 100%;
  margin-bottom: 25px;
  max-height: 700px;
  overflow-y: scroll;

  @include flex(center, flex-start, row wrap);

  @include respond-to-min($lg) {
    justify-content: space-between;
  }
}

.tech-icons {
    max-width: 70%;
    width: 100%;
    min-height: 50px;
    position: absolute;
    left: 15px;
    bottom: 5px;

    @include flex(flex-start, center, row nowrap);

    @include respond-to-min($lg) {
        max-width: 60%;
    }

    &__item {
        max-width: 55px;
        width: 100%;
        min-height: 55px;
        height: auto;
        background-repeat: no-repeat;
        background-position: 50% 59%;
        height: auto;
        background-size: 80%;
        background-repeat: no-repeat;
    }
}

.project {
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background: linear-gradient(180deg, rgba($white, 0.65), rgba(lightblue, 0.75));
    border: 5px solid #00b7ff;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;

    @include respond-to-min($lg) {
        width: calc(49% - 10px);

        margin-bottom: 20px;
    }

    &__main {
        min-height: 200px;
        position: relative;
        width: 100%;
        overflow: hidden;
        text-align: center;

        @include flex(center, center, column nowrap);
        @include font(25px, 1, 400, normal, $fontLeague);


        &:hover {
            &::after {
                content: "Open Project Demo";
                position: absolute;
                width: 100%;
                height: 200px;
                top: 0;
                left: 0;
                background-color: rgba(orange, 0.8);
                color: white;
                font-size: 55px;
                font-weight: bold;

                @include flex(center, center)
            }
        }
    }

    &__title {
      max-width: 100%;
      width: 100%;
      font-family: $fontMuseoSans;
    }

    &__tech-stack {
        @include flex();
    }

    &__tech-stack-title {
        @include font(17px);

        margin-right: 20px;
    }
}

.project-source {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 200px;
  z-index: 5;
  background-color: plum;
  border-radius: 5px;
  box-shadow: 0 3px 2px rgba($black, 0.1);
  transition: background .9s;

  @include flex(center, center);

  &:hover {
    background-color: rgba(springgreen, 0.4);
  }

  &__title {
    @include font(16px, 1, 600);

    margin-right: 10px;
    text-transform: uppercase;
  }

  &__github-icon {
    background-image: url("../img/icons/github-logo.png");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position-y: 50%;
    height: 50px;
    width: 50px;
  }
}


// .sources {
//     &__link {
//       padding-bottom: 5px;
//       margin-bottom: 10px;
//       display: inline-block;
//       position: relative;
  
//       &:hover {
//           background-color: lightgreen;
  
//           &::after {
//               content: "";
//               position: absolute;
//               bottom: 0;
//               left: 0;
//               height: 2px;
//               width: 100%;
//               background-color: red;
//           }
//         }
//     }
//   }