doctype html

head
  link(rel="stylesheet" href="libs/normalize.css")
  link(rel="stylesheet" href="css/funbox-qt.css")
  link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:300,400,500,600,800" rel="stylesheet")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')

body
  header.header-holder

  main.page

    include sub-projects/funbox-qt/products-catalog

  script(src="js/funbox-qt/json-upload.js")
  script(src="js/funbox-qt/products-cards-behaviour.js")
