extends templates/main-layout

block header
  header.header-holder

block main
  main.main-page
    .box
      .box__container
        figure.circle
          .circle__letter Press me

  include blocks/popup-menu