doctype html

head
  link(rel="stylesheet" href="assets/libs/css/normalize.css")
  link(rel="stylesheet" href="css/waxom-landing.css")
  link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:300,400,500,600,800" rel="stylesheet")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')

body
  header.header-holder.box
    .container
      include sub-projects/waxom-landing/header
      include sub-projects/waxom-landing/intro

  main.waxom-page.box

    include sub-projects/waxom-landing/features

    include sub-projects/waxom-landing/promo

    include sub-projects/waxom-landing/projects

    include sub-projects/waxom-landing/video-section

  footer.waxom-footer

  script(src="assets/libs/js/jquery-lib.js")
  script(src="js/waxom-landing.js")