@font-face {
  font-family: 'Exo-2';
  src: url("../assets/fonts/Exo2.0-Thin.otf") format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet-MSC';
  src: url("../assets/fonts/TrebuchetMS-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Trebuchet-MSC';
  src: url("../assets/fonts/TrebuchetMS-regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}