.intro {
  max-width: 595px;
  margin: 0 auto;

  &__title {
    @include font(36px, 1, 300, normal, $fontRaleway);

    color: $white;
    text-align: center;
    margin-bottom: 10px;

    &_bold {
      font-weight: 800;
      font-size: 52px;
    }
  }

  &__sub-title {
    @include font(16px, 24px, 300, normal, $fontMonsterrat);

    text-align: center;
    color: $white;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.btn-brown {
  background-color: #998675;
  max-width: 170px;
  height: 52px;
  width: 100%;
  text-transform: uppercase;
  color: $white;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 3px solid #736357;
  border-radius: 2px;

  @include flex(center, center);
  @include font(14px, 23px, 800, normal, $fontRaleway);

  &:active {
    background-color: #736357;
    border-bottom-color: #4a3d33;
    transform: scale(0.99);

  }
}

