.projects {

  &__header {
    margin-bottom: 40px;
  }
  &__title {
    @include font(30px, 1, 600, normal, $fontRaleway);

    background-color: #fbfaf8;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
    color: #555555;
  }

  &__sub-title {
    @include font(16px, 28px, 300, normal, $fontMonsterrat);

    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    color: #8c8c8c;
  }

  &__filter-btns {
    margin: 0 auto 40px;
    max-width: 600px;

    @include flex();
  }

  &__filter-btn {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    background-color: transparent;
    height: 32px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    color: #8c8c8c;

    @include font(14px, 21px, 300, normal, $fontMonsterrat);
    @include flex(center, center);

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background: #c7b299;
      color: $white;
    }

    &:hover {
      background: #c7b299;
      color: $white;
    }
  }

  &__items {
    max-width: 100%;
    width: 100%;

    @include flex(space-around, flex-start, row wrap);
  }

  &__show-more-btn {
    height: 50px;
    margin-bottom: 80px;
  }
}

.project-card {
  @include flex(center, flex-start, column nowrap);

  max-width: 372px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;

  &__img-wrap {
    display: flex;
    position: relative;
  }

  &__img-hover {
    display: none;
    position: absolute;
    width: 100.5%;
    height: 100%;
    background-color: rgba($black, 0.6);
  }

  &__description {
    background-color: #fbfaf8;
    padding: 30px;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      width: 25px;
      height: 25px;
      background-color: #fbfaf8;
      transform: rotate(45deg);
      position: absolute;
      top: -5px;
      left: 15px;
    }
  }

  &__title {
    color: #cab79f;
    margin-bottom: 10px;

    @include font(20px, 1, 300, normal, $fontRaleway);
  }

  &__tags {
    color: #d1d1d1;

    @include font(14px, 1, 300, normal, $fontMonsterrat);
  }

  &__hover-items {
    @include flex(space-between, center);

    width: 70px;
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: transform .25s;
      }
    }
  }
}

.project-card_hover {
  position: relative;
  overflow: hidden;

  .project-card__img {
    transform: scale(1.1);
    transition: transform .4s;
  }

  .project-card__img-hover {
    display: block;
  }

  .project-card__hover-items {
    display: flex;
  }

  .project-card__description {
    background-color: #362f2d;

    &::after {
      display: none;
    }
  }

  .project-card__title {
    color: $white;
  }

  .project-card__tags {
    color: #c7b299;
  }
}