-
  var features = [
    {
      icon: 'img/waxom-landing/pencil-icon.svg',
      title: 'Web & App Design',
      text: 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'
    },
    {
      icon: 'img/waxom-landing/dev-icon.svg',
      title: 'Development',
      text: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.'
    },
    {
      icon: 'img/waxom-landing/customization-icon.svg',
      title: 'Customization',
      text: 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'
    },
    {
      icon: 'img/waxom-landing/marketing-icon.svg',
      title: 'Marketing',
      text: 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'
    }
  ]

section.features.container
  for item in features
    .feature
      .feature__icon-wrap
        img(src=item.icon).feature__icon
      .feature__title #{item.title}
      .feature__text #{item.text}
      .feature__indicator
