section.header
  .logo
    img(src="img/waxom-landing/logo.png").logo__img
    .logo__text Waxom
  nav.menu
    a(href="#").menu__link Home
    a(href="#").menu__link About us
    a(href="#").menu__link Portfolio
    a(href="#").menu__link Features
    a(href="#").menu__link Blog
    a(href="#").menu__link Pricing
    a(href="#").menu__link Shortcodes
    a(href="#").menu__link Contact
  .header__btns-wrap
    a(href="#").cart-btn
      img(src="img/waxom-landing/icon-cart.png")
    a(href="#").search-btn
      img(src="img/waxom-landing/icon-search.png")