section.intro
  .intro__title Unique and modern design
  .intro__title.intro__title_bold Portfolio PSD Template
  .intro__sub-title Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  a.btn-brown get started
