section.promo
  .container
    .promo__header
      .promo__title Waxom is Realization of your ideas
      .promo__sub-title Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    img(src="img/waxom-landing/browsers-img.png").promo__desktops-img
section.wordpress-line
  .container
    .wordpress-line__wrap
      .wordpress__message
        .wordpress-line__title #[span Waxom] Multipurpose WordPress Theme
        .wordpress-line__sub-title Don't Forget to Rate the Template. Thanks so much!
      a.btn-brown.wordpress-line__btn purchase now

